.meal-generation {
  max-width: 400px; /* Reduced width to fit better */
  margin: 0 auto;
  padding: 20px;
}

h2 {
  font-size: 24px; /* Adjusted font size */
  margin-bottom: 20px;
  color: #333;
  text-align: center;
  background-color: #ffe5e5;
  padding: 10px;
  border-radius: 10px;
}

.meal-category {
  margin-bottom: 15px;
  transition: all 0.3s ease-in-out;
}

.meal-title {
  background-color: #ff7b7b;
  border-radius: 8px;
  padding: 10px 15px; /* Reduced padding for smaller size */
  text-align: center;
  cursor: pointer;
  font-size: 20px; /* Adjusted font size */
  color: #fff;
  transition: background-color 0.2s;
}

.meal-title:hover {
  background-color: #ff4c4c;
}

.meal-card-container {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease-in-out, opacity 0.5s ease-in-out;
  opacity: 0;
  flex-direction: column;
}

.meal-category:hover .meal-card-container {
  max-height: 500px; /* Adjust this to fit the content */
  opacity: 1;
}

.meal-card {
  background-color: #ff6b6b;
  border-radius: 8px;
  padding: 10px; /* Reduced padding for smaller size */
  margin: 5px 0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  color: #fff;
  transition: transform 0.2s;
}

.meal-card:hover {
  transform: translateY(-3px);
}

.meal-details h4 {
  font-size: 18px; /* Adjusted font size */
  margin: 0;
  color: #fff;
}

.meal-details p {
  font-size: 14px; /* Adjusted font size */
  margin: 5px 0 0;
  color: #ffe5e5;
}
