.meal-generation {
    max-width: 400px; /* Adjust this to match the width of other pages */
    margin: 0 auto; /* Centers the container */
    padding: 0px;
  }
  
  h2 {
    font-size: 20px;
    margin-bottom: 15px;
    color: #333;
    text-align: center; /* Center the heading */
  }
  
  .meal-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ff6b6b;
    border-radius: 10px;
    padding: 5px;
    margin-bottom: 15px;
    margin-right: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    color: #fff;
    width: 100%; /* Ensures card fits within container */
  }
  
  .meal-details h3 {
    font-size: 18px;
    margin: 0;
    color: #000;
  }
  
  .meal-details p {
    font-size: 14px;
    margin: 5px 0 0;
    color: #000;
  }
  
  .meal-menu {
    display: flex;
    align-items: center;
  }
  
  .menu-icon {
    display: flex;
    flex-direction: column;
    cursor: pointer;
  }
  
  .menu-icon span {
    width: 20px;
    height: 3px;
    background-color: #000;
    margin: 3px 0;
    border-radius: 2px;
  }
  